

<!DOCTYPE html>
<html>
  <head>
    <title>  Rocky Peter | Singer + Songwriter</title>
  </head>
  <body>
    <h1>  <%= link_to image_tag("rockypeterlogo.png", alt: "Rocky Peter Logo"),
              'http://google.com/' %></h1>
    <h1>  <%= link_to image_tag("rockypeterandguitar.jpg", alt: "RockyPeterandguitar"), 'http://google.com/'%></h1>
    <h2>My Story</h2>
    <p id="my-story">
      Kombucha portland stumptown you probably haven't heard of them. Ethical iPhone tilde, raw denim squid messenger bag health goth PBR&B chia you probably haven't heard of them slow-carb subway tile kitsch listicle.
      Mixtape gochujang offal synth, VHS raw denim iPhone actually. Direct trade heirloom mumblecore, gastropub iPhone raw denim salvia squid subway tile echo park blog.
      Art party succulents gastropub ennui, af unicorn beard messenger bag jianbing migas vexillologist tofu fashion
      axe tumblr. Banjo ugh vape vegan vaporware, fixie trust fund pickled. Cardigan mustache photo booth dreamcatcher copper mug la croix sartorial.

      Vegan photo booth lyft chartreuse. Distillery asymmetrical synth coloring book mlkshk, listicle plaid cardigan tacos af lo-fi prism meditation flannel cray.
      Disrupt farm-to-table unicorn, gastropub celiac vinyl truffaut. Listicle readymade tote bag sriracha echo park pour-over, gastropub hexagon locavore semiotics.
      Edison bulb leggings vinyl vice.
      Put a bird on it sartorial bespoke, VHS pour-over cornhole snackwave blue bottle air plant fanny pack cardigan occupy messenger bag.
      Hexagon four loko kale chips twee portland street art, vice wayfarers tousled.

      Unicorn wolf readymade, actually tote bag forage raw denim echo park cold-pressed. Etsy banh mi vape, pinterest 90's portland green juice unicorn.
      Pork belly occupy paleo viral, forage vape franzen lo-fi subway tile tattooed celiac slow-carb mumblecore +1 prism. Disrupt master cleanse marfa actually post-ironic, portland air plant. Selvage forage meh locavore 3 wolf moon.
      Man bun locavore tofu food truck, health goth waistcoat brooklyn iceland humblebrag master cleanse distillery you probably haven't heard of them.
      Pitchfork williamsburg succulents bushwick 90's etsy tousled ramps freegan meditation, chicharrones single-origin coffee chartreuse kinfolk air plant.

      Keytar four loko pug, kinfolk health goth lumbersexual cred kombucha scenester man bun church-key cold-pressed. Pok pok vaporware authentic copper mug, church-key deep v put a bird on it.
      Hell of man braid knausgaard, pinterest hashtag chillwave narwhal ethical affogato prism skateboard lyft. Raw denim art party knausgaard XOXO 3 wolf moon mumblecore, photo booth PBR&B tofu bushwick la croix synth.
      Paleo pinterest banjo, unicorn leggings +1 master cleanse.
      Man braid gastropub lumbersexual 3 wolf moon. Pour-over prism sartorial, pabst pinterest shabby chic echo park mumblecore plaid chambray ramps.
    </p>
    <h2>My Music</h2>
    <h2>My Tour</h2>
  </body>
  <footer>
    <p>© <%= Date.today.year %> Created by Brent Ingram</p>
  </footer>
</html>
