

<!DOCTYPE html>
<html>



  </head>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <body>

    <%= link_to image_tag("rockypeterandguitar.jpg", class: "img-responsive center-block", alt: "RockyPeterandguitar") %>

    <div class="container-fluid">
      <a id="my_story"></a>
      <br><br>
      <h2>My Story</h2>

      <p>
        Rocky peter is a self-taught singer songwriter who was raised in west Africa Nigeria. He taught himself how to play multiple instruments such as guitar, bass, drums, piano and more.
        His musical style is highly influenced by reggae soul, pop and folk music. Rocky peter is a brilliant poet and lyricist whose musical theme is centered around love, motivation, and unity among people.
        His lyrics are as poetic as Baby Dylan, and as motivational and unifying as Bob Marley. However, Rocky Peter’s falsetto and amazing vocal range is unmatched by most professional singers in modern history. However Rocky peter’s journey is just as inspiring as his music.
        Rocky Peter was abandoned in a poor village in Nigeria when he was only two years old. Although his older brother could not survive , Rocky Peter and his younger brother survived many encounters of close to death experiences from malaria caused by mosquito bites, starvation, and child slavery.
        Rocky recalls eating food from trash cans, drinking stagnant water from potholes when he was only five years old.  When he was eight he got enslaved. He was underfed, overworked, and forced to endure constant physical abuse and mistreatment .Rocky Peter escaped from slavery and educated himself.
        He then moved back to the United States and graduated from UC Riverside with a degree in biological science . Rocky states that through his obstacles writing and composing music made him forget about his obstacles. After college Rocky decided to pursue his passion for music.
        <br><br>
        Rocky’s attitude of not giving up landed him on American idol, the Nobel Peace Prize stage and the 2016 Rio Olympics stage. He now consistently travels the country to sing and works as a peace ambassador with peace through commerce and the Nobel Peace Prize award forums.
        Rocky’s journey inspires many kids and youth to believe that they too can live the American dream if they work hard and  believe in themselves.

        <br><br>
        Charity Work: Rocky donates a large portion of the proceeds from his concerts to schools.
        He has a scholarship fund called Rocky Peter’s legends of tomorrow scholarship award. To qualify, students must show their significant academic improvement or maintain a 4.0 GPA for a whole year.
        Student who qualify are then entered in a raffle to compete for the checks given to their schools. Eventually Rocky wants to fund as many students as possible for college.
        Rocky gives back to student because of how education has positively impacted his life. He understands that one of  the major keys to financial freedom and enlightenment is education.
        Rocky aspires to empower our future generation with the tools necessary to succeed
        <br><br>
    </p>
  </div>


      <h2>My Music</h2>

    <div class="container">
  <div class="row">
    <div class="col-sm-6">


<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/HDRxWqSPjLY" allowfullscreen></iframe>
</div>
    </div>
    <div class="col-sm-6">



<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/yXxUhm2hGR4" allowfullscreen></iframe>
</div>
    </div>
  </div>
</div>

    <h2>Events/Tickets</h2>
      <a id="my_tour"></a>
      <h3><a href="http://bit.ly/2fo1y6k">Buy Tickets for: Humble "Beginnings Concert" UCR, Riverside CA December 3RD</a></h3>
      <br>


  </body>

</html>
